<ion-view view-title="Events">

  <ion-content delegate-handle="content" style="background-image: url('img/bg.jpg');">
   <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
  
    
  </ion-nav-bar>
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style2.css" />
        <meta name="author" content="Codrops" />
    
        
        <script type="text/javascript">
        	$(document).ready(function() {
  $('.flashcard').on('click', function() {
    $('.flashcard').toggleClass('flipped');
  });
});
        </script>
<body>
                
<br>
 <div class="container">  


			<section class="cn-container"><br>
<a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE;margin-left: -26px"><b>BACK</b></div> </a>
				<div class="cn-slide" id="slide-main">

					<nav>
					<h2 style="color:#80B8CE">Explore this</h2>

						<a href="#/cse">CSE</a>							
						<a href="#/ece">ECE</a>						
						<a href="#/ecm">ECM</a>
						<a href="#/eee">EEE</a>

						<a href="#/mech">MECH &  PE</a>
						<a href="#/civil">CIVIL</a>
			<a href="#/bhm">BHM</a>
			<a href="#/bt">BT</a>
			<a href="#/comm">COMM</a>
			<a href="#/bba">BBA and MBA</a>
			<a href="#/special">SPECIAL EVENTS</a>
				<a href="#/misc"><p style="font-size: 23pt">MISCELLANEOUS EVENTS</p></a>

					</nav>
				</div>
				
				
			</section>
        </div>

        </body>
  </ion-content>
</ion-view>
