<ion-view  view-title="Accomodation">
<ion-nav-bar class="bar-dark">
  <ion-content style="background-image: url('img/event_back.jpg')">
  <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
  <br>

  <br>
  <h3 style="color: orange;text-align: center;">Boys Accomodation</h3> 
  <p style="color: white;text-align: center;"> Shashanka Towers - 224 Slots<br><br>
  Buses from Shashanka Towers to college - 3 hours<br><br>
  1<sup>st</sup> day (9<sup>th</sup> March 2017) buses will start at 7:45AM<br><br>
 2<sup>nd</sup> day (10<sup>th</sup> March 2017) buses will start at 8:00AM<br><br>
  On 8<sup>th</sup> March 2017, buses will be available at bus stand and railway station from 6:30PM for transportation of students.<br>
  <br><p  style="color: white;text-align: center;">
  The first 180-200 boys will be accomodated in the sashanka towers -KLU-hostel and the remaining will be accomodated in OYO rooms.<br><br>

Per day cost KLU hostel Rs 300/- <br><br>
Caution deposit(Refundable) Rs 200/- <br><br>
For further details<br>
Contact : 
A.Venkatesh -boys accomadation (7382508766)<br>
Kranthiveer Dontineni -boys accomadation ( 8985299694) <br>
D.Sainadh Reddy- Transport co-ordinator(9705535334)<br>
Sai Srinivas Goli-Transport co-ordinator(8500465481)<br></p>
  </p>
  <h3 style="color: orange; text-align: center">
  Girls Accomodation</h3>
  <p style="color: white;text-align: center;">

Rooms for girls can accomodate upto 250 members at K L University <br>

Per day cost Rs 300/- <br><br>
Caution deposit(Refundable) Rs 200/- <br><br>

M.Prathyusha - 7893519678 <br><br>
N.Dhaatri - 9000776048<br><br>
  </p>
</ion-content>
</ion-nav-bar>
</ion-view>