<ion-view  view-title="BBA Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar><br><br>
<p style="color: orange;font-size: 16pt;text-align: center;">VENUE: All events below will be conducted in 4TH & 5TH  FLOORS LIBRARY BLOCK</p>
  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
 <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>TRADIL</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body" >
   <p style="color:white;font-weight: bold;">In every conversation, there is that one person who has an opinion on what stock everyone should invest in.<br> Are you that one person?<br> Do you have something more to say about your favourite company?<br> This event will be all about stock marketing, trading in it, fluctuation in the market and how one person takes the decision for making his investments in any particular company.<br> Come and experience the stock traders mind inside you.<br></p>

  </div>
</div>    
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>VYAPAR
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">A competition of collecting given items at given time by "BEG-BORROW OR STEAL" <br></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b> ADDZAM
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Adzap main theme is "To Prove Our Marketing knowledge" i.e., how to make our product(s) popular, leadership quality, presentation skills, team building and team contribution. Team work plays vital role in this event.<br> It is an event to test upon the basis of convincing capability to sell a product through advertisement. Active participation from team members will be considered.
<br></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>TYCOON
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
Ever wondered how manufacturing of the yesteryears differ from the production now. This competition requires knowledge of history of manufacturing and the latest technologies used to minimize human intervention.<br></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>BUSI BEE
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">A business tycoon that builds business empires just as a honey bee builds beehive. <br>Both require skills being resourceful, patient and persistent. These are just a few from the list of must-haves for a manager. The BUSI BEE is where it all gets real and tough.  <br></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>MUCKETY MUCKS
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
Can you be, both sly as a fox and witty as a jackal? <br>Come test your skills in our roller coaster ride, which not only probes your esoteric efficiency, but also your creativity flair and endurance levels.</p>  </div>
<br></div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b> Game Development
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:no-repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">The contestant will be given a problem statement and a situation. They should develop a 3D/2D game using any modern game technologies like JavaScript, Unity,C# etc. The most innovative and complex game at the end of the stipulated time will be declared the winner.<br></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Digital Wallet
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
This event is about use cases for Web payments, analyzing issues and associated questions, identifying requirements for user experience and user interaction. Here the Participant will design an interface related to Web payments. The participants should come with innovative methods to improve credit card information entering through auto- complete requests.<br></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>BUGI QUIZ
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">A quiz is a form of mind sport in which players can attempt to answer the questions in a logical manner, where the mind keeps on working for answers.<br> Digi quiz is also a brief assessment used in education and similar fields to measure growth in knowledge, abilities and skills. Even though you compete as a team a whole game can change based on the random knowledge of one person.</p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>SHIP RECK
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
<br>
You are given the roles such as Superman/ Justin Bieber/ Donald Trump etc.<br> The ship is sinking and the captain has only one life-jacket left. You are in the ship with so many other popular celebrities/ hypothetical characters (which adds more flavour) / fictional characters. <br>Sink into the given character and try to escape from the sinking ship by using your awesome convincing skills and prove that you deserve the only life jacket. Make yourself appear prominent and better than any other person / thing on board to win the life jacket and eventually win the event.<br> 
The participants are judged on content, humour, analytical skills, cogent arguments, valid points and audience response. </p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>BUSSINESS HOLIC 
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">

It is designed to measure a broad range of knowledge, skills and attitudes – both general business/meeting/management and industry-specific.<br> This business event challenges students to demonstrate their knowledge and understanding of finance, marketing, Indian economy, corporate world and all the current incidents of business world, and they will deal with how those concepts apply to several disciplines of business world.<br> </p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>BUSSINESS IDEA 
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
Everything starts from the individual! Everybody is unique and no one else in this earth is exactly the same. So do our capabilities of thinking differ from each other in order to think and come up with brilliant ideas, specifically business ideas? <br>Ideas are generally developed from known facts; not from the air. Especially when your mind is not running around with brilliant ideas like imaginative people would. So, it’s better to have completely ridiculous ideas than to have none.
<br></p>  </div>
</div>  

</ion-content>
</ion-view>
