<ion-view  view-title="BHM Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
 <div style="width:320px;height:460px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Queen of Mithai</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 460px;" class="item item-body" >
   <p style="color:white;font-weight: bold;">General Rules:<br>
   <ol style="color:white;"><li>
1. ITEMS: Soan Papdi, Mysore Pak, Jalebee Rasmalai, Steam Modak.</li><li>
2. Two portions (4pieces, each 60gm) from any one of the dish from above mention.</li><li>
3. Participants should bring the required ingredients</li><li>
4. Common spices and seasoning will be provided.</li><li>
5. Cooking utensils and Display plates need to be brought by themselves.</li><li>
6. Only table will be provided for the display.</li></ol>
<br> <b style="color: white">Venue:6th Floor ADMIN BLOCK</b></p>
  </div>
</div>    
<div style="width:320px;height:590px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Navyandhra Cuisine
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 590px;" class="item item-body">
      <p style="color:white;font-weight: bold;">   
      <ol style="color:white;"><li>
1. One main course item should be prepared</li><li>
2. 90 minutes of time will be allotted.</li><li>
3. All the required material should be brought by participant only.</li><li>
4. Only table will be provided for the display.</li><li>
5.Cooking utensils and Display plates need to be brought by themselves.</li><li>
6. Only table will be provided for the display.</li>
<li>Items should be from the mentioned districts only.<br><br>
Srikakulam, Vijayanagaram, Visakhapatnam, East Godavari, West Godavari, Krishna, Guntur, Prakasam, Sri Potti Sri Ramulu Nellore, Kurnool, Chittoor, YSR Kadapa and Anantapur.</li>
</ol>
<br> <b style="color: white">Venue:Advanced Training Kitchen 6th floor ADMIN BLOCK</b></p>
  </div>
</div>  
  <div style="width:320px;height:550px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b> Pre - Food-o-graphy
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 550px;" class="item item-body">
      <p style="color:white;font-weight: bold;">1. Participant have to display 3 food photos<br>
2. The winner will be decided on the basis of the best photo and caption:
 
The caption shall explain the relevance of the picture by itself.
The participants won't be given a chance to explain to the judge.<br>
3. The participants will have to submit the still photos with the camera ,details[ place
taken, exposure triangle ,date & time]<br>
4. No editing is allowed.<br>
5. Any kind of camera is allowed, however the participants shall follow the details
provided at the time of event.<br>
6. Participants have to take selfie with food in their pics.<br>
7. Display place and board will be provided.<br><br><b style="color: white">Venue:7th floor Restaurent ADMIN BLOCK</b></p>
  </div>
</div>  
</ion-content>
</ion-view>