<ion-view  view-title="BT Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>

  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>PETRI ART
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Prove your artistic skills on a prepared agar plate by drawing a given article with bacterial
culture.
<br><br><b>Venue:BIOLOGY LAB</b></p>  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Group Discussion
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">This activity consists of a group discussion on the recent advancements and trends in biotechnology. This activity will be assessed by the faculty.<br><br><b>Venue:C308</b></p>  </div>
</div>  

<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>B-Trees:
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:no-repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">This event tests your technical skills. Few technical words will be given and one has to link
the words according to some relation between them. The resultant is a tree like structure. This consists of few rounds that get complicated according to the level.
<br><br> <b>Venue:C309</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>BIO FUN
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">This is a fun game related to biology. It comprises of three rounds.<br><br><b>Venue:C309</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>BLOOD GROUPING
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Classification of blood based on the presence and absence of antibodies and also based on the presence or absence of inherited antigenic substances on the surface of red blood cells (RBCs).<br><br><b>Venue:C-LOBBY</b></p>  </div>
</div>  
 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Oral Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Technical presentations serve engineering, scientific and high tech purposes, describing advances in technology, problem resolution and product design.<br><br><b>Venue:C007</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Poster Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Presentation of research information by an individual or representatives of research teams at a congress or conference with an academic or professional focus.<br><br><b>Venue:F002</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Project Expo
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br>Project presentation is an event in which students show their knowledge in making a working model of his/her own interest with a technical background supported by documentation using numerical as well as analytical methods.<br><br><b>Venue:INDOOR STADIUM</b></p>  </div>
</div> 
</ion-content>
</ion-view>
