<ion-view  view-title="CIVIL Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>

<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Design Challenge
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br>Participants are given a plot with dimensions. They need to plan a 1BHK according to Vaastu after that, they need to analyse that plan using STAAD PRO. Judging would be done on the basis of the plan considering vaastu parameters and STAAD PRO analysis for the combination of loads like Earthquake and Wind loads.
<br><br><b>Venue:M204</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b> Problem Solving
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br>This event is conducted in three rounds sequentially, which means that the teams completing first round will move on to second round and then to third.
<br><br><b>Venue:M202</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>Catastrophic Cognition
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br>The participants will be randomly given any civil disaster that occurred in recent years. Participants need to analyse the various parameters that led to disaster and need to present it in front of judges. Participants can present their analysis about disaster by using board or by using power point presentation (not mandatory).<br><br><b>Venue:M203</b> </p>
  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Paper Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">The event will be conducted in two rounds sequentially, which implies that teams completing first round will move to the second round.
Any topic related to civil engineering can be presented. Innovative ideas related to theme will be of additional advantage.<br><b>Theme:Industry 4.0</b><br><br><b>Venue:M304, M305</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Poster Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br><b>Theme:Industry 4.0</b><br>The event would be conducted in two rounds sequentially, which implies that teams completing first round will move on to the second round.
Any topic related to civil engineering can be presented. Innovative ideas related to theme would be of plus point.<br><br><b>Venue:M306</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Project Expo
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br>The event would be conducted in two rounds sequentially, which implies that teams completing first round will move on to second round.
Any topic related to civil engineering can be presented. Innovative ideas related to theme would be of plus point.<br><br><b>Venue:Indoor Stadium</b></p>  </div>
</div> 
</ion-content>
</ion-view>