<ion-view  view-title="CSE Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
 <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Code with Natural Language: </b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body" >
   <p style="color:white;font-weight: bold;">Programming using natural language interface can enable novice users to program without having to learn the minute details of domain specific language. Accomplishing this task requires solving interesting problems in NLP such as parsing, dialogue systems in mixed-initiative systems such as learning user’s utility model. <br><br><b>Venue:C423</b></p>

  </div>
</div>    
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Code the Genome
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">This bioinformatics related event aims to make the participants aware of the opportunities and avenues available for computer science students related to biology and genome structures.<br><br><b>Venue:C521A</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b> Internet Based Robot
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
Participant will build a Wi-Fi Controlled Robot that can be operated remotely via a computer/ website using Wi-Fi. The robot is connected to the internet with the help of ESP 8266 Wi-Fi module and can be controlled through commands on a web page that he will design.<br><br><b>Venue:C506</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>Data Science Challenge
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">The first of its kind event at K L University which focuses on the emerging field of Data Science. The challenge will be primarily focusing on the technique of Statistical Data Science and Machine Learning.<br><br><b>Venue:C511</b> </p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Graphic-con
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Graphic-con is a contest in which participants are asked to design graphics using given set of images and other resources. The event is divided into two rounds. <br><br><b>Venue:C408</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Connect Red
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
This IOT event will be using the Node Red software as a platform to map and connect different smart devices. The participants would be made aware of how to identify potential connectable devices and on how to smartly connect them using simple drag and drop techniques. </p>  </div>
<br><br><b>Venue:Fourth Floor Lab in C BLOCK</b></div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b> Game Development
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:no-repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">The contestant will be given a problem statement and a situation. They should develop a 3D/2D game using any modern game technologies like JavaScript, Unity,C# etc. The most innovative and complex game at the end of the stipulated time will be declared the winner.<br><br> <b>Venue:Fourth Floor Lab in C BLOCK</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Digital Wallet
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
This event is about use cases for Web payments, analyzing issues and associated questions, identifying requirements for user experience and user interaction. Here the Participant will design an interface related to Web payments. The participants should come with innovative methods to improve credit card information entering through auto- complete requests.<br><br><b>Venue:C422</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Virtual Reality Development
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Participant will be provided with Unity 5.6 beta software along with “Android build Support” component and also Google vr cardboard. Where he will be given a demo scene or app idea and he have to create the vr app using above mentioned software<br><br><b>Venue:Fourth Floor Lab in C BLOCK</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Cryptomania
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
Crypt the mind focuses on testing the participants in the fundamentals of data security and assurance. Participants are given a piece of text which is encrypted using some - random key. They should understand the problem and decrypt it within the stipulated time.<br><br><b>Venue:C410</b> </p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Algo Challenge
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
One of the fundamental abilities of computer science is solving algorithms. Algo challenge will be testing the participants on solving algorithmic challenges in the stipulated time.<br><br> <b>Venue:C407</b> </p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Paper Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Technical presentations serve engineering, scientific and high tech purposes, describing advances in technology, problem resolution and product design.<br><br><b>Venue:F203,F205 and F207</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Poster Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Presentation of research information by an individual or representatives of research teams at a congress or conference with an academic or professional focus.<br><br><b>Venue:F208 and F 209</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Project Expo
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Any project related to Industry 4.0 is allowed.<br><br><b>Venue:Fourth Floor Lab in C BLOCK</b></p>  </div>
</div> 
</ion-content>
</ion-view>
