<ion-view  view-title="ECE Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
 <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Tricky Race </b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body" >
   <p style="color:white;font-weight: bold;">
As a core student, are you limited to only circuits and connections. Do you think only software people can debug the codes? No, let us prove that it is wrong.
So, what are you waiting for participate in this event for a tricky circuit puzzle solving.
<br><br><b>Venue:C107</b></p>

  </div>
</div>    
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Tech Arduino
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Embedded applications are fun to see right. How about working on them? This event encourages you to prove your knowledge on Arduino.<br><br><b>Venue:C110</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b> Electro Jam
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
You may have heard of JAM (Just a Minute) somewhere in your classes, right? Yes, it is about the knowledge you have on a topic. It is exactly that and the topics will be from the diversified fields of electronics and communications.<br><br><b>Venue:C109</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>Plugged-In
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">If you think something is to be plugged-in then sorry your guess is wrong.<br>
Young minds have the craze to know about mobiles, new technology and what not but, do u get updated with the information about an invention or about a new product? Then this is a chance to prove that you are not just a bookworm but more than that.<br><br><b>Venue:C108, C111</b> </p>
  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Paper Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Technical presentations serve engineering, scientific and high tech purposes, describing advances in technology, problem resolution and product design.<br><br><b>Venue:F103, F105, F107</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Poster Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Presentation of research information by an individual or representatives of research teams at a congress or conference with an academic or professional focus.<br><br><b>Venue:F108, F109</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Project Expo
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Any project related to Industry 4.0 is allowed.<br><br><b>Venue:Indoor Stadium</b></p>  </div>
</div> 
</ion-content>
</ion-view>