<ion-view  view-title="ECE Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
 <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>IDEA PRESENTATION </b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body" >
   <p style="color:white;font-weight: bold;">

This event will mainly deal with the good knowledge in computer science with some coding skills where candidate will be given some questions and the same candidate has to find the bugs present in the algorithm and rectify those errors to complete the task within the limited duration of time.
<br><br><b>Venue:E104</b></p>
  </div>
</div>    
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>TRONIC MAN
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">The participant who has the skills in electronics background are welcomed. The campus is like your Edison’s Island. Ravage around the campus solving puzzles. Test your IQ in round 1. Explore checkpoints and answer questions to proceed to round 2.
<br><br><b>Venue:E105</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>CHALLENGE YOUR  HANDS
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Invoke the electric circuits in your mind with our event Electro-Quest that will enhance your technical knowledge in an immensely fun way. <br>The series of rounds dealing with basic electrical questions and current trending technologies in the market.
<br><br><b>Venue:E005</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>ELECTRICAL QUEST
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">We are organizing an IOT hackathon to allow you to push the boundaries of creativity to build solutions and concepts that have the potential to make a difference. <br>We are inviting teams of
makers, developers, and technologists to collaborate and explore the next-gen technologies of smart homes, smart wearables, smart cities..<br><br><b>Venue:E007</b> </p>
  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>FINGURE TWISTING
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Technical presentations serve engineering, scientific and high tech purposes, describing advances in technology, problem resolution and product design.<br><br><b>Venue:E106</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>ELEC TRICKZ
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Technical presentations serve engineering, scientific and high tech purposes, describing advances in technology, problem resolution and product design.<br><br><b>Venue:E107</b></p>  </div>
</div>
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Poster Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Presentation of research information by an individual or representatives of research teams at a congress or conference with an academic or professional focus.<br><br><b>Venue:E208</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Paper Presentation
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Presentation of research information by an individual or representatives of research teams at a congress or conference with an academic or professional focus.<br><br><b>Venue:E101,E102, E103</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>Project Expo
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br>It is the presentation of projects. The students need to present their project to judges followed by queries posted by the judges. Judge will select best project and will be awarded. In this event the participant should come up with a problem faced by the people.<br><br><b>Venue:Indoor Stadium</b></p>  </div>
</div> 
</ion-content>
</ion-view>