<ion-view view-title="Samyak" class="galleryView">
  <ion-content style="background-image: url('img/event_back.jpg');">
        <ion-nav-back-button>
      </ion-nav-back-button>
    <ion-list>
          <a href="#/kluinfo">

      <div class="row row-wrap row-no-padding">
      <ion-item class="col  button button-icon light animated bounceInUp" style="background-color:#E47500" >
         <i class="icon ion-information-circled"></i>
              <p class="bold">About Samyak</p>
        </ion-item>
      </div></a><br>
      <a href="#/about">
        <div class="row row-wrap row-no-padding">
        <ion-item class="col  button button-icon light animated bounceInUp" style="background-color:#5AD863">
          <i class="icon ion-gear-a"></i>
          <p class="bold"> Events</p>
        </ion-item>
      </div></a><br>
            
            <a href="#/workshops">
        <div class="row row-wrap row-no-padding">
        <ion-item class="col  button button-icon light animated bounceInUp" style="background-color:#FFD900; " ng-click="openAbout()">
          <i class="icon ion-code-working"></i>
          <p class="bold">Workshops</p>
        </ion-item>
      </div></a>

<br>  <a href="#/guests">    <div class="row row-wrap row-no-padding">
        <ion-item class="col  button button-icon light animated bounceInUp" style="background-color:#AD5CE9" ng-click="openAbout()">
          <i class="icon ion-mic-c"></i>
          <p class="bold">Guests</p>
        </ion-item>
      </div></a>  
      <br>  <a href="#/sponsors">    <div class="row row-wrap row-no-padding">
        <ion-item class="col  button button-icon light animated bounceInUp" style="background-color: #9ACD32" ng-click="openAbout()">
          <i class="icon ion-cash"></i>
          <p class="bold">Sponsors</p>
        </ion-item>
      </div></a>  
      <br>  <a href="#/accomodation">    <div class="row row-wrap row-no-padding">
        <ion-item class="col  button button-icon light animated bounceInUp" style="background-color:#FF6347" ng-click="openAbout()">
          <i class="icon ion-home"></i>
          <p class="bold">Accomodation</p>
        </ion-item>
      </div></a> 
    </ion-list>
  </ion-content>
</ion-view>