<ion-view  view-title="Guests">
<ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
    
    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
<a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
<br>
<h4 style="color: orange; font-family:Arial; text-align: center;font-weight: bold">DAY - 1</h4>
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:20pt"><b>Varun Gandhi</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/varung.jpg" style="width:100%; height:90%;" alt="Oops!"> <p style="color:white; text-align:center;" > <b>Member, Lokh Sabha</b></p>
  </div>
</div>   
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:22pt"><b>Dr. VSRK Prasad</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/vsrk.jpg" style="width:100%; height:300px;" alt="Oops!"> <p style="color:white; text-align:center;" > <b>Chairman, SLAC</b></p>
  </div>
</div>    
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>Er.Koneru Satyanarayana</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/koneru.jpg" style="width:100%; height:350px;" alt="Oops!"> <p style="color:white; text-align:center;" > <b>President , KLEF</b></p>
  </div>
</div>  
<h4 style="color: orange; font-family:Arial; text-align: center;font-weight: bold">PANEL MEMBERS</h4>

<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>Mr. D. Rama Krishna</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/rk.jpg" style="width:100%; height:280px;" alt="Oops!"> <p style="color:white; text-align:center;" > <b>Managing Director, Efftronics</b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>Dr. P. Srinivas</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/sp.png" style="width:100%; height:280px;" alt="Oops!"> <p style="color:white; text-align:center;" > <b>Co-founder , Tarah Technologies</b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>Dr. Lakshmi Prasad</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/sujay.jpg" style="width:100%; height:280px;" alt="Oops!"> <p style="color:white; text-align:center;" > <b>Managing Director , Sujay Biotech</b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>Mr. A.V.S. Ramesh</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/baby.jpg" style="width:100%; height:280px;" alt="Oops!"> <p style="color:white; text-align:center;" > <b>Head HR , Hyundai</b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b> Mr. S.V. Lakshmi Kanth</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/rajini.jpg" style="width:100%; height:280;" alt="Oops!"> <p style="color:white; text-align:center;" > <b>Lead Training and Development , Hyundai (R&D)</b></p>
  </div>
</div>  
<h4 style="color: red; font-family:Arial; text-align: center;font-weight: bold">DAY - 2</h4>
  <div style="width:320px;height:415px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:16pt"><b>Dr. Velagapudi Rajendra</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/velagu.jpg" style="width:290px; height:300px;" alt="Oops!"> <p style="color:white; text-align:center;" ><b> Senior Vice President, Cyient Technologies</b></p>
  </div>
</div> 
<div style="width:320px;height:400px" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:20pt"><b>Nakash Aziz</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/nakash.jpg" style="width:100%; height:90%;" alt="Oops!"> <p style="color:white; text-align:center;"><b>Singer</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:20pt"><b>Mr. Raveen Sastry</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/raveen.jpg" style="width:290px; height:280px;" alt="Oops!"> <p style="color:white; text-align:center;" ><b> Cofounder, Myntra</b></p>
  </div>
</div>  
<h4 style="color: #74EE91; font-family:Arial; text-align: center;font-weight: bold">DAY - 3</h4>


  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:18pt"><b>Dr. Poonam Malakondaiah</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/poonam.jpg" style="width:290px; height:280px;" alt="Oops!"> <p style="color:white; text-align:center;"><b>Principal Secretary, Health Medical Family Welfare</b></p>
  </div>
</div>  
 <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:18pt"><b>Mr. Avasarala Srinivas</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/avasaralu.jpg" style="width:290px; height:280px;" alt="Oops!"> <p style="color:white; text-align:center;"><b>Director, Artist - Telugu Film Industry</b></p>
  </div>
</div>
  </ion-content>
</ion-view>
