<ion-view view-title="About Samyak 2017">

 <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
    
    
  </ion-nav-bar>
    <ion-content style="background-image: url('img/event_back.jpg');">

  <div class="item item-body" style="background-image: url('img/event_back.jpg');">
  <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE;"><b>BACK</b></div> </a>
 <br>
  <p style="color: white; font-size: 13pt; text-align: justify;">
&nbsp;<b>SAMYAK</b> is the biggest techno-management fest in all of Andhra Pradesh, which sees a confluence of students from all over the nation. <br>&nbsp;This provides an avid opportunity for students to show their technical and cultural expertise and a platform to learn through practice. <br><br>&nbsp;Filled with colours, painting the skies with fun and frolic, this two-day fest drives home lessons of social responsibility apart from technical knowledge.<br>&nbsp; One can witness the sun rise beautified with technical workshops setting away with awe and exuberance silencing after cultural extravaganza.<br> Now eight years old, this fest is all set to enthral and captivate with all its prominence.
</p>
  </div>
  <br>
<p style="text-align: center; color: white; font-size: 14pt">The Muscle behind Samyak 2017</p>
<div style="width:320px;height:400px;margin-left: 20px;" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Chief Student Co-ordinator
</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/01.jpg" style="width:100%; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px;margin-left: 20px;"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Student Co-ordinator
</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/2.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;" ><b></b></p>
  </div>
</div>  

  <div style="width:320px;height:400px; margin-left: 20px;"  class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Student Co-ordinator
</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/3.jpg" style="width:287px; height:340px;" margin-left: 20px;" alt="Oops!"> <p style="color:white; text-align:center;" ><b></b></p>
  </div>

</div>  
  <div style="width:320px;height:400px;margin-left: 20px;"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Technical Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/4.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Technical Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/5.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Non-Technical Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/6.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Non-Technical Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/7.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Non-Technical Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/8.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Design & Drafting Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/9.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Design & Drafting Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/10.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Design & Drafting Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/11.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Hospitality Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/12.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  

  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Hospitality Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/13.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  

  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Hospitality Wing Co-ordinator
</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/14.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  

  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Public Relations Wing Co-ordinator
</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/15.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  

  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Public Relations Wing Co-ordinator
</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/16.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  

  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Public Relations Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/17.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  

  <div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:10fpt"><b>Public Relations Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/18.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:9pt"><b>Logistics & Treasury Wing Coordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/19.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Logistics & Treasury Wing Coordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/20.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>R&C Wing Co-ordinator
</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/21.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>R & C Wing Coordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/22.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Protocol Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/23.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Protocol Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/24.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div> 



<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Sponsorships Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/26.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  

<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b> Protocol Wing Co-ordinator</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/27.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  

<div style="width:320px;height:400px"  class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; text-align:center; font-size:12pt"><b>Hospitality Wing Co-ordinator
</b></p></div>
  <div class="item item-body" style="background-color: #3ABAFE">
  <img src="img/28.jpg" style="width:287px; height:340px;" alt="Oops!"> <p style="color:white; text-align:center;"><b></b></p>
  </div>
</div>  
</ion-content>
</ion-view>