<ion-view  view-title="Messages">
<ion-nav-bar class="bar-dark">
</ion-nav-bar>
  <ion-content style="background-image: url('img/event_back.jpg')">
  <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div></a> 
  <h4 style="text-align: center;color:orange"><u>Thoughts of our Mentors</u></h4>
  <p style="color:white;font-size:12pt;text-align:justify;margin-left:10px;margin-right: 10px;"><br>
<b>President- Koneru Lakshmaiah Educational Foundation</b><br>
<br>
“There is no success without sacrifice. If you succeed without sacrifice, it is because someone has suffered before you. If you sacrifice without success, it is because someone will succeed after you.”

<br>
Dear students,


&nbsp;It is a great privilege to see all the young minds gathered here, creating a spectacular aura on this occasion of SAMYAK’17, a national level techno-management fest, K L University. It is profoundly inspiring to witness the students work collaboratively, while collecting, analysing and interpreting every aspect of elements they passed through. 
<br>


&nbsp;I wish to congratulate all the students who have come here today, for surpassing your own capabilities and getting all set to work through the themed fest, “Industry 4.0-Dream, Digitize, Develop” with utmost interest and knowledge you could possibly provide. 
<br>
&nbsp;I can confidently tell that K L University will thrive in the years ahead and its distinctive missions will continue forward through every SAMYAK. 

<br><br>
- Regards
Er. KONERU SATYANARAYANA.


<br><br><br>
<b>Vice-President- Koneru Lakshmaiah Educational Foundation</b>
<br><br>



&nbsp;I am delighted to see you all as a part of SAMYAK'17.The techno- management fete SAMYAK'17 provides a platform for one and all to develop one's dreams to digitalize the country by adopting the theme INDUSTRY 4.0. <br>&nbsp;It opens an opportunity for all the students to come up with innovative ideas and find ways to achieve the motto of INDUSTRY 4.0.<br>&nbsp;The time has come  to beautify the world by means of technology and I believe that it solely lies in the hands of young Innovative engineers. <br>&nbsp;INDUSTRY 4.0 is a fabulous combination of industry and technology which has got the capability to digitize the world. On this day of SAMYAK'17, I wish all the students who have put their heart and soul in making the best  of everything  and keep excelling in your careers.<br>&nbsp;
The future of digital world lies in the hands of young engineers. So I suggest all the youngsters to develop their skills and excel in their career. I wish all the team of SAMYAK'17 a great success.
		 <br>
		 <br>
<b>Vice president - Havish </b><br>
 <br>
We witness many troubles in our day to day life, but how many of us think to find the solution to those problems? Youth are the backbone of our country. SAMYAK’17, the national level techno management fest of the K.L University is contributing towards encouraging the youth by tapping their potential with the theme ‘Industry-4.0 Dream, Digitize, and Develop’ to improve the quality of Indian economy.
 I am sure that Samyak’17 would certainly be the platform for being that change. Wishing all the students a very good luck and reminding one and all about your responsibilities as the future of this country, I hope that everyone joins hands in this noble notion of ours.
<br>
<br>
<br>

<b>SAMYAK Chairman</b><br>
<br>

We cannot always build the future for our youth, but we can build our youth for the future.

It is great privilege for me to see the entire nation builders gathered for most prestigious National level techno management fest SAMYAK’17 with the theme Industry 4.0-Dream, Digitize, and Develop which signifies the 4th industrial revolution. All the students have put in remarkable amount of hard work preparing for this fest and have left no stone unturned to bring out the two days of edutainment. I am sure Samyak’17 would certainly be the platform for being that changes the structure of this country and a step towards global digitalization. I wish all the participants a very good luck...!!
<br><br><br>

<b>Convener-SAMYAK</b><br><br>

I'm delighted to see the students diverting their paths towards Smart technology. SAMYAK’17 the national level techno management fest is here again this year to show the perfect path to students with the theme “Industry 4.0- Dream, Digitize and Develop”.
This fest creates the apt platform for improvising the students’ zeal in development of new and innovative technology. The students and the organizers had done a great job in choosing the theme 'Industry 4.0' that gives hope for a better future. I hope that SAMYAK’17 will provide the perfect environment to the participants and the SAMYAK'17 Team a perfect opportunity to nurture their ideas and make a remarkable note on the Smart World. 
<br><br><br>

<b>SURABHI- Chairman</b> <br><br>

India is known for its culture and varied heritage. Through SURABHI, our culture is being represented annually and now we are here with SURABHI’17 to showcase cultural diversity like never-seen-before and thus spreading traditionalism on the whole. The young talents are being projected making us feel the true culture of our Nation. So I wish all the participants to keep excelling in their careers and carryon with the same passion towards our culture and heritage.
<br>

<br><br>
 <b>SURABHI- Convener </b><br><br>

Our college is not only committed to the deep reform of educating and cultivating students' professional quality, but also to give full consideration to the all-round  development of students by creating a good learning environment and positive atmosphere of culture to enrich the cultural life of the students.
SURABHI'17 provides a perfect platform to expose the talents of everyone. I believe that this festival will be the perfect combination of cultural quality and humanistic spirit and a platform where the dormant talents get active. Let us all support our culture through this fest and make it a grand success
<br><br><br>

<b>Chancellor- K L University</b><br><br>


The students, when unite for a cause make miracles. This supports the quote, “United we stand and divided we fall” This miracle can be seen every year in the form of SAMYAK. This fest is for the students by the students and of the students. Every year this fest has been attracting a multitude of students who return home with broader minds. 
I wish all the students, a good time and hope every moment spent here is inscribed in your lives as the most cherished ones.
							 
<br><br><br>

 <b>VICE CHANCELLOR</b><br>
<br>


“Learning gives creativity, creativity leads to thinking, thinking provides knowledge, and knowledge makes you great”.
I hope this SAMYAk’17 with theme Industry 4.0- Dream, Digitize and Develop provides a platform to students to showcase their talents in all the aspects. I believe that a student must be open to learning at all stages of life to cope up with the advancing world. This fest is one of the many means to help the students to update themselves with the changing world.
I take this pleasure to wish all the students and the Samyak team for all their efforts in making this fest happen.
<br><br><br>

 <b>Pro-Vice Chancellor</b><br>
<br>


I am glad to be a part of SAMYAK’17 hosted by our K L University with the theme “INDUSTRY 4.0- DREAM, DIGITIZE AND DEVELOP" which is platform to showcase and identify the hidden talents and develop them.

I would like to extend my heartfelt yearning to all the participants, organizers and wish that all delegates will not only enjoy the days here but will make most out of the opportunity for their future accomplishment. SAMYAK’17 will be cherished for years to come. All the best.

<br><br><br>

 <b>Registrar</b><br><br>


I am glad to know that K L University’s SAMYAK’17, the national level techno management festival with the theme INDUSTRY 4.0 and the tagline DREAM, DIGITIZE AND DEVELOP is being conducted on 9th and 10th March in the University campus.

I express my best wishes to all the students of K L University and the participating students from other institutions. I wish all the team members a very good luck for the event.<br>
<br>

<br>
<br>
</p>
</ion-content>

</ion-view>