<ion-view  view-title="MISC Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>

  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>CINESCOPE 17
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
 A National Level Short Film Contest for the short films shot by students of various colleges in India.
<br><br><b>Venue: PEACOCK HALL</b></p>  </div>
</div>  

<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>DRAMATICS
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:no-repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br><br> <b>Venue: SUN FLOWER HALL</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>SINGING
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br><br><b>Venue: ROSE HALL</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b> DANCING
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;"><br><br><b>Venue: NEW SEMINAR HALL</b></p>  </div>
</div>  
 


</ion-content>
</ion-view>
