<ion-view  view-title="Special Events">
<ion-nav-bar class="bar-dark">

    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
 <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>LAN GAMING </b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body" >
   <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:C008,C009</b></p>

  </div>
</div>    
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>TREASURE  HUNT
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:F305</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft"> 
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>MEGA QUIZ 
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">
Special Event<br><br><b>Venue:INFORNT OF  EEE BLOCK</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:12pt"><b>ANGRY BIRD
</b></p></div>
  <div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:F307</b> </p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>IDEOLOGY
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:F308</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>DEVIL FOLLOWS
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event</p>  </div>
<br><br><b>Venue:M206</b></div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>RUNNING TIC TAC TOE
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:no-repeat; background-size:cover;height: 390px;" class="item item-body">Special Event<br><br> <b>Venue:BESIDE ES-SHEDS</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>ARCHERY
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:BESIDE ES-SHEDS</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>PAC-MAN
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:BESIDE ES-SHEDS</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>NUTSTACKER
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES003</b> </p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>FACE THE COOKIE
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br> <b>Venue:ES003</b> </p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>HIT THE COIN
</b></p></div>
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES003</b></p>  </div>
</div>  

<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>TILT A CUP
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES003</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>SPEAKOUT  LOUD
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES003</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>MONOACTION
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES003</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>MEGA BUBBLE
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:CRICKET NET</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>OFFICE TENNIS
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:CRICKET NET</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>FLOTACIOUS
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES004</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>MOVE IN ON UP
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES004</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>CANDELIER
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES004</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>FLOTACIOUS
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES004</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>STACK ATTACK
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES004</b></p>  </div>
</div> 
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>THIS BLOWS
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES004</b></p>  </div>
</div>
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>JENGA
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES002</b></p>  </div>
</div>
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>ABOUT A FRIEND
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:INFORNT OF ES SHEDS</b></p>  </div>
</div>
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:10.5pt"><b>BACALOONS
<div style="background-image:url('img/event_back1.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:white;font-weight: bold;">Special Event<br><br><b>Venue:ES002</b></p>  </div>
</div>
</ion-content>
</ion-view>
