<ion-view  view-title="Wikitude">
<ion-nav-bar class="bar-dark">
    
    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
  <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
  <h4 style="color: orange;text-align: center;"><b>Navigate around campus using Augmented Reality</b></h4><br><br>
  <ol style="color:white; text-align: center;">
  <u>How to Download kluAR:</u><br><br>
  	<li>Go to <b>Playstore</b> and download the <b>Wikitude</b> App</li><br>
  	<li>Turn ON the Location(GPS) and MOBILE DATA (or) WIFI</li><br>
  	<li>When the app loads Search for kluAR in the search bar.</li><br>
  	<li>An icon of KLU should appear with a description of "An Augmented Reality App for KLUniversity"
  	</li><br><br>
  	<li>Click on it and after it loads, point it towards any direction while inside KLUniversity.</li><br><br>
  	<li><b>Happy Navigating!</b> You should be able to navigate around the campus without a hassle using our Augmented Reality world.</li>
  </ol>
  </ion-content>
  </ion-view>