<ion-view  view-title="Workshops">
<ion-nav-bar class="bar-dark">

      
    
    </ion-nav-bar>

  <ion-content style="background-image: url('img/event_back.jpg')">
 <a href="#/app/gallery"> <div class="button" style="background-color:#3ABAFE"><b>BACK</b></div> </a>
 <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>IOT using Raspbery Pi </b></p></div>
  <div style="background-image:url('img/rasp.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body" >
    <p style="color:white;font-weight: bold;">This Raspberry Pi IoT project is the best way to get started on working with the IoT (Internet of Things) and to build your knowledge to expand it to other applications. <br><br><b>Venue: 6th Floor Lab Cblock</b></p>
  </div>
</div>    
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInRight">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Ethical Hacking
</b></p></div>
  <div style="background-image:url('img/eth.jpg'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:black;font-weight: bold;">This Raspberry Pi IoT project is the best way to get started on working with the IoT (Internet of Things) and to build your knowledge to expand it to other applications. <br><br><b>Venue: First Floor lab (F1) in C block</b></p>
  </div>
</div>  
  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Computer Aided Drug Design
</b></p></div>
  <div style="background-image:url('img/cad.jpg'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:black;font-weight: bold;">RasMol, PyMol and ChemSketch are focused upon in this workshop for future CAD engineers. <br><br> <b>Venue: CBLOCK 3rd Floor Lab</b></p>
  </div>
</div>  

  <div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Python Programming
</b></p></div>
<div style="background-image:url('img/py.jpg'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:#03C9A9;font-weight: bold;">Python is a widely used high-level programming language for general-purpose. It has a design philosophy which emphasizes code readability (notably using whitespace indentation to delimit code blocks rather than curly braces or keywords), and a syntax which allows programmers to express concepts in fewer lines of code than possible in languages such as C++ or Java. <br><br> <b>Venue:C325</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Power Electronics in Microgrid
</b></p></div>
<div style="background-image:url('img/power.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:black;font-weight: bold;">A microgrid is a localized grouping of electricity sources and loads that normally operates when connected to and synchronous with the traditional centralized grid (macro grid), but can disconnect and function autonomously as physical and/or economic conditions dictate. <br><br> <b>Venue: NI LAB 4th Floor in C BLOCK</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Sixth Sense Robotics
</b></p></div>
<div style="background-image:url('img/sixth.jpg'); background-repeat:no-repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:#03C9A9;font-weight: bold;">Sixth Sense is a wearable gestural interface that enhances the physical world around us with digital information and lets us use natural hand gestures to interact with that information.  <br><br><b>Venue: First floor Lab in C BLOCK</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Home Applications in IOT
</b></p></div>
<div style="background-image:url('img/iot.png'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:black;font-weight: bold;">Although home automation has been around since the 1970’s, it did not achieve high market penetration due to high costs, proprietary communication standards, and reliance on installers/users with high-tech savvy.  <br><br><b>Venue:C225</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Tall Building Structures
</b></p></div>
<div style="background-image:url('img/sku.jpg'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:#0000B5;font-weight: bold;">The design of tall buildings essentially involves conceptual design, approximate analysis, preliminary design and optimization to safely carry different loads acting on structure. <br><br> <b>Venue: CAD Lab</b></p>  </div>
</div>  
<div style="width:320px;height:400px" style="background-color: #3ABAFE" class="list card animated bounceInLeft">  
  <div class="item item-divider"><p style="color:#3ABAFE; font-size:14pt"><b>Six Sigma
</b></p></div>
<div style="background-image:url('img/sixsig.jpg'); background-repeat:repeat; background-size:cover;height: 390px;" class="item item-body">
      <p style="color:#000060;font-weight: bold;">Six Sigma at many organizations simply means a measure of quality that strives for near perfection. Six Sigma is a disciplined, data-driven approach and methodology for eliminating defects. <br><br> <b>Venue:Seminar Hall Block in L block</b></p>  </div>
</div>  
 
</ion-content>
</ion-view>
